<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>新しいTodoを入力 </title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1>新しい画像をアップロード</h1>
    <form th:action="@{/upload}" th:method="post" enctype="multipart/form-data">
        File : <input type="file" name="file" required/>
        username : <input type="text" name="username" value="anonymoustarou" required/>
        <input type="submit" value="upload" />
    </form>
</div>
</body>
</html>
